.idea/
examples/redis
vendor/
vendor/autoload.php
vendor/bin
vendor/composer
vendor/doctrine
vendor/illuminate
vendor/myclabs
vendor/nesbot
vendor/phar-io
vendor/phpdocumentor
vendor/phpspec
vendor/phpunit
vendor/psr
vendor/sebastian
vendor/symfony
vendor/theseer
vendor/webmozart
